.nav{
    display: flex;
    flex-direction: row;
}
.login-btn{
    position: absolute;
    background-color: rgb(133, 21, 21);
    color: white;
    min-width: 80px;
    border: none;
    border-radius: 10%;
    right: 5%;
}
.logo{
    max-height: 100px;
}
.login{
    /* left: calc(50%-175px); */
    text-align: center;
    width: 350px;
    height: 450px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 25px;
}
.login img, .registration img{
    max-height: 100px;
}
.login-label, .password-label,.password-confirm-label{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content{
    display: flex;

    justify-content: center;
}
.confirm{
    background-color: black;
    color: white;
    border: 1px solid red;
    border-radius: 15px;
    width: 130px;
}
.registration{
    display: none;
text-align: center;
width: 350px;
height: 450px;
background-color: transparent;
border: 1px solid black;
border-radius: 25px;
}
.admin-panel-content{
    background-color: rgb(58, 53, 78);
    height: 100vh;
    color: white;
}
.panel-group{
    display: flex;
    flex-direction: row;
}
.panel{
    width:300px;
    /* border: 1px solid black; */
    height: auto;
    display: flex;
    flex-direction: column;
}
.panel-content{
    color: white;
}
.difficulty{
    display: flex;
    flex-direction: column;
}
.category-div,.question-div,.permission-div,.attemps-div{
    display:none;
}